<h3>Show all, first and all_first_last</h3>
<%= image_tag("all_first_last.png")  %>
<br>
<h3>Find user with id=3 and update lastName</h3>
<%= image_tag("find_and_update.png")  %>
<br>
<br>
<h3>Order by firstName ascending</h3>
<%= image_tag("order.png")  %>
<br>
<br>
<h3>Destroy user with id=4</h3>
<%= image_tag("destroy_user_id_4.png")  %>
